
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Components
@import "components/video";

// Vendor
@import "vendor";

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.video-result {
  margin: 20px 0;
}

.profile-img {
  max-width: 100px;
  max-height: 100px;
}

.img-avatar {
  max-width: 50px;
  max-height: 50px
}

.event-selection {
  label {
    display:block;
  }

  .score-tile {
    border: 2px solid #cddbe6;
    border-radius: 5px;
    padding: 5px;
  }
}

.discipline-tra {
  background-color: $brand-primary;
}
.discipline-dmt {
  background-color: $brand-success;
}
.discipline-tum {
  background-color: $brand-danger;
}

.upload-result, .upload-progress {
  margin-top:15px
}

.remove-attachment {
  color: #000;
}

.media-grid {
  .thumbnail {
    a>img, img {
      max-height:150px;
      max-width:150px;
    }
  }
}